.filters {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
}

.userData {
  padding-top: 80px; /* Adjust the padding to create space for filters and user welcome msg */
  height: calc(100vh - 80px); /* Set the height of the userData container */
  overflow-y: scroll; /* Make the userData container scrollable */
}

.frequency {
  display: flex;
  align-items: center;
  gap: 10px;
}

.charts {
  display: flex;
  gap: 10px;
}

.addbtn {
  background: rgb(52, 52, 235);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.addbtn:hover {
  background: rgb(107, 107, 209);
}

/* Fix filters and user welcome msg at the top */
.userData {
  padding-top: 80px; /* Adjust the padding to create space for filters and user welcome msg */
}

.welcome-msg {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.content {
  overflow-y: auto; /* Make the table scrollable */
  max-height: calc(100vh - 200px); /* Adjust the height based on your layout and filters height */
}
