/* Homepage.css */

.homepage{
  border: 2px solid red;
  overflow: hidden;
  margin-top: 15px; 
}
.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: #f0f0f0;
  align-items: center;
  /* border: 2px solid red; */
}

.frequency,
.charts,
.addbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid rgb(0, 102, 255); */
  gap: 10px;
}

.filters .frequency,
.filters .charts,
.filters .addbtn {
  flex-basis: 100%;
}
.charts{
  gap: 20px;
}
.addbtn{
  background: rgb(54, 124, 216);
  color: #ffff;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.addbtn:hover{
  background: rgb(102, 158, 233);
}

@media screen and (min-width: 768px) {
  /* Adjust the layout for larger screens */
  .filters {
    flex-direction: row;
  }

  .filters .frequency,
  .filters .charts,
  .filters .addbtn {
    flex-basis: auto;
   gap: 10px;
  }

  .frequency {
    gap: 20px;
  }

  .charts {
    margin-left: auto;
    
  }
}

.userData {
  padding: 20px;
}

.content {
  overflow-x: auto;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  white-space: nowrap;
}

/* Add more responsive styling as needed */
